{% extends "hardlight/layout.html" %}

{% block content %}
    {{ super() }}

    <div class="container">
        <h2>Lights</h2>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>On</th>
                <th>Colour</th>
                <th>Name</th>
                <th colspan="2">Brightness</th>
            </tr>
            </thead>
            <tbody>
            {% for light in lights %}
                <tr>
                    <td>{{ light.light_id }}</td>
                    <td>
                        <input type="checkbox"
                               id="light_on_{{ light.light_id }}"
                               class="light_toggle"
                               name="light[{{ light.light_id }}][on]"
                               data-lightid="{{ light.light_id }}"
                                {{ 'checked="checked"' if light.on else '' }}/>
                    </td>
                    <td>
                        <input type="color"
                                id="light_colour_{{ light.light_id }}"
                                class="light_colour"
                                name="light[{{ light.light_id }}][colour]"
                                data-lightid="{{ light.light_id }}"
                                value="{{ light|hue_light_to_rgb }}" />
                    </td>
                    <td><span id="light_name_{{ light.light_id }}">{{ light.name }}</span></td>
                    <td><span id="light_brightness_{{ light.light_id }}">{{ ((light.brightness / 254) * 100)|round|int }}</span>&percnt;</td>
                    <td>
                        <input type="range"
                               id="light_brightness_range_{{ light.light_id }}"
                               class="light_brightness_range"
                               name="light[{{ light.light_id }}][brightness]"
                               data-lightid="{{ light.light_id }}"
                               value="{{ ((light.brightness / 254) * 100)|round|int }}"
                               min="0"
                               max="100"
                               step="1" />
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="12">No lights connected</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <h2>Groups</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Lights</th>
            </tr>
            </thead>
            <tbody>
            {% for group in groups %}
                <tr>
                    <td>{{ group.group_id }}</td>
                    <td><a href="{{ url_for('hardlight.group', _id=group.group_id) }}">{{ group.name }}</a></td>
                    <td>
                        <ul>
                            {% for light in group.lights %}
                                <li>{{ light.name }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">No groups set up</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <h2>Schedules</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Lights</th>
            </tr>
            </thead>
            <tbody>
            {% for schedule in schedules %}
                <tr>
                    <td>{{ schedule|pprint }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">No schedules set up</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block styles %}
    {{ super() }}

    <script src="{{ url_for('static', filename='bower/spectrum/spectrum.css') }}"></script>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='bower/spectrum/spectrum.js') }}"></script>
    <script>
    var LIGHT_UPDATE_URL = '{{ url_for('hardlight.light', _id=441189998819991197253) }}',
    LIGHT_UPDATE_PLACEHOLDER_ID = '441189998819991197253';
    </script>
    <script src="{{ url_for('static', filename='js/hardlight.js') }}"></script>
{% endblock %}