{% extends "hardlight/layout.html" %}

{% block content %}
    {{ super() }}

    <div class="container">
        <h2>Lights</h2>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>On</th>
                <th>Colour</th>
                <th>Name</th>
                <th>Brightness</th>
            </tr>
            </thead>
            <tbody>
            {% for light in lights %}
                <tr>
                    <td>{{ light.light_id }}</td>
                    <td>
                        <input type="checkbox"
                               class="light_toggle"
                               name="light[{{ light.light_id }}][on]"
                               data-lightid="{{ light.light_id }}"
                                {{ 'checked="checked"' if light.on else '' }}/>
                    </td>
                    <td>
                    <span class="label"
                          style="background-color:#{{ light.xy|xy_to_hex }};color:#{{ light.xy|xy_to_hex|invert_colour }}">
                        {{ light.xy|xy_to_hex }}
                    </span>
                    </td>
                    <td>{{ light.name }}</td>
                    <td>{{ ((light.brightness / 255) * 100)|round|int }}&percnt;</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="12">No lights connected</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <h2>Groups</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Lights</th>
            </tr>
            </thead>
            <tbody>
            {% for group in groups %}
                <tr>
                    <td>{{ group.group_id }}</td>
                    <td><a href="{{ url_for('hardlight.group', _id=group.group_id) }}">{{ group.name }}</a></td>
                    <td>
                        <ul>
                            {% for light in group.lights %}
                                <li>{{ light.name }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">No groups set up</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <h2>Schedules</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Lights</th>
            </tr>
            </thead>
            <tbody>
            {% for schedule in schedules %}
                <tr>
                    <td>{{ schedule|pprint }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">No schedules set up</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        var LIGHT_UPDATE_URL = '{{ url_for('hardlight.light', _id=1234) }}',
            LIGHT_UPDATE_PLACEHOLDER_ID = 1234;
    </script>
    <script src="{{ url_for('static', filename='js/hardlight.js') }}"></script>
{% endblock %}