<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ title or config['SITE_NAME'] }}</title>
    <meta name="description" content="{{ meta_description or config['SITE_DESCRIPTION'] }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    {% include "layout/_styles.html" %}
</head>

<body>
{% block header %}
    {% include "layout/_header.html" %}
{% endblock %}

{% block site_nav %}
    {% include "layout/_site_nav.html" %}
{% endblock %}

{% block site_notice %}
    {% include "layout/_site_notice.html" %}
{% endblock %}

{% block flashes %}
    {% include "layout/_flashes.html" %}
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
    {% include "layout/_footer.html" %}
{% endblock %}

{% block scripts %}
    {% include "layout/_scripts.html" %}
{% endblock %}
</body>
</html>