<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ title or config['SITE_NAME'] }}</title>
    <meta name="description" content="{{ meta_description or config['SITE_DESCRIPTION'] }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    {% include "layout/_styles.html" %}
</head>

<body>
    {% include "layout/_header.html" %}

    {% include "layout/_site_nav.html" %}

    {% include "layout/_site_notice.html" %}

    {% include "layout/_flashes.html" %}

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    {% include "layout/_footer.html" %}

    {% include "layout/_scripts.html" %}
</body>
</html>